{% extends 'base.html' %}

{% block content %}
    <h1>Rezultati API poziva</h1>

    <form action="/api" method="post">
        <label for="lokacija">Unesite ime lokacije:</label>
        <br>
        <input type="text" id="lokacija" name="lokacija">
        <button type="submit">Pronađi ID</button>
    </form>
    
    <div id="rezultat" style="justify-content: center;">

        {% if lokacija_info %}
            <p>Lokacija ID: {{ lokacija_info['geoID'] }}, Naziv lokacije: {{ lokacija_info['geoName'] }}</p>
        {% else %}
            <p>Lokacija nije pronađena.</p>
        {% endif %}
    </div>
{% endblock %}
