{% extends 'base.html' %}

{% block content %}

    <section id="home" class="content" style="text-align: center;">
            <h5>Dobrodošli!</h5>
            <h1 style="text-align:center; margin-top:55px"> Naša web aplikacija omogućuje sinkronizaciju evidencije poslova na daljinu. <br>Ova web aplikacija ima za ulogu povlačenje podataka putem API poziva iz „open API“ sustava
            „Jobicy“</h1>

    </section>
            <p style="text-align:center; margin-top:570px">Juraj Vukelić</p>

{% endblock %}
