{% extends "base.html" %}

{% block title %}Tablica lokacija{% endblock %}

{% block content %}
    <h3 style="text-align: center;">Tablica lokacija</h3>

    <form action="/tablica_lokacija" method="post">
        <div class="dodaj">
            <button class="submit">Preuzmi i Spremi Podatke</button>
        </div>
    </form>
    <div id="message" style="text-align: center;">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <table style="margin: auto;">
        <thead>
            <tr>
                <th>geoID</th>
                <th>geoName</th>
                <th>geoSlug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ location.geoID }}</td>
                <td>{{ location.geoName }}</td>
                <td>{{ location.geoSlug }}</td>
                <td>
                    <form action="/update_location/{{ location.geoID }}" method="post">
                        <input type="text" name="geoID" value="{{ location.geoID }}" hidden>
                        <input type="text" name="geoName" value="{{ location.geoName }}">
                        <input type="text" name="geoSlug" value="{{ location.geoSlug }}">
                        <button type="submit">Ažuriraj</button>
                    </form>
                    <form action="/delete_location/{{ location.geoID }}" method="post">
                        <button id="delete" type="submit" class="delete-button">Izbriši</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 style="text-align: center;">Dodaj novu lokaciju</h2>
    <form action="/add_location" method="post" style="text-align: center;">
        <input type="text" name="geoID" placeholder="geoID">
        <input type="text" name="geoName" placeholder="geoName">
        <input type="text" name="geoSlug" placeholder="geoSlug">
        <button type="submit">Dodaj lokaciju</button>
    </form>
    <h1 style="text-align: center;">Tablica lokacija preko API</h1>
    {{ table_html | safe }}
{% endblock %}
